<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-card>
      <mat-card-content>
        <div class="register-inside">
          <div class="form">
            <div class="form-group">
              <!-- Username Field -->
              <h2>Registrarse</h2>
              <mat-form-field appearance="outline" class="full-width dense-3">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  formControlName="name"
                  type="text"
                  placeholder="Ingresa tu nombre"
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <!-- Email Field -->
              <mat-form-field appearance="outline" class="full-width dense-3">
                <mat-label>Correo electronico</mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="email"
                  placeholder="Ingresa tu email"
                />
              </mat-form-field>
            </div>

            <div class="form-group">
              <!-- Password Field -->
              <mat-form-field appearance="outline" class="full-width dense-3">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  formControlName="password"
                  type="password"
                  placeholder="Ingresa tu contraseña"
                />
              </mat-form-field>
            </div>

            <div class="form-group-bottom">
              <a [routerLink]="'/login'">¿Ya tienes cuenta?</a>
              <!-- Register Button -->
              <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="registerForm.invalid"
              >
                Registrarse
              </button>
            </div>
          </div>
          <div class="picture"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
