/* login.component.scss */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #0d1b2a;
}

.login-inside {
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

@keyframes expandFromCenter {
  0% {
    transform: scale(1);
    visibility: hidden;
  }
  15% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  65% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  75% {
    transform: scale(1, 0.002);
    opacity: 0;
  }
  95% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

mat-card {
  animation: expandFromCenter 3s ease-in-out forwards;
  transform-origin: center;
  width: 100%;
  max-width: 840px;
  padding: 16px;
  background: #ffffff;
  color: #0d1b2a;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.form h2 {
  color: #1b263b;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.form,
.picture {
  flex: 1;
}

.picture{
  padding: auto;
}

.picture {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/login-decorative.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: wrap column;
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  min-width: 300px;
  border-radius: 8px;
  padding: 8px;
}

.form-group-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  a {
    color: #1b263b;
    font-size: 14px;
    text-decoration: none;
    margin: 8px auto;
  }

  a:hover {
    text-decoration: underline;
  }
}

button {
  width: 70%;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in;
}

button:hover {
  scale: 1.05;
  background-color: #1b263b;
}

::ng-deep .full-width .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
