<mat-card class="chat-container">
  <mat-card-title>
    <mat-icon>person</mat-icon>
    {{ user.name ? user.name : "Usuario" }}
  </mat-card-title>
  <mat-card-content>
    <div #chatContainer class="messages">
      <div
        *ngFor="let message of messages"
        [ngClass]="{
          sent: message.sender_id === user.id,
          received: message.sender_id !== user.id
        }"
        class="message"
      >
        <span class="message-content">{{ message.content }}</span>
        <span class="timestamp">{{
          message.timestamp | date : "shortTime"
        }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="input-container">
    <mat-form-field class="message-input dense-4  " appearance="outline">
      <mat-label>Escribe tu mensaje</mat-label>
      <input matInput [(ngModel)]="messageText" (keyup.enter)="sendMessage()" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="sendMessage()"
      [disabled]="!messageText.trim()"
    >
      <mat-icon>send</mat-icon>
      Enviar
    </button>
  </mat-card-actions>
</mat-card>
